.listcontainer{
    display: flex;
    justify-content: flex-end;
    gap: 200px;

}

.equitycontainer{

    display: flex;
    gap: 150px;

}

.commoditycontainer{
    display: flex;
    gap: 150px;
}

img{

    width: 80px;
    height: 50px;
}