.login-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}


.login-card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 60vh;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.in{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 205px;
    padding-left: 5px;
}

.login-button{
    padding: 8px 92px;
    background-color: orangered;
    color: white;
    border: 0px;


}

.logo{
    width: 68px;
    height: 68px;
    margin-top: -37px;
}

h2{
    margin-top: -6px;
}